<!DOCTYPE html>
<html>
    <head>
        <title>This is the info page:</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>I am Megan.  I like puppies, insects, knitting and hiking!</p>
    </body>
</html>